<nav class="navbar">

    <div class="logo">
        MOTO | MARKET
    </div>
    <ul class="nav-links">
        <li>
            <a href="index.html" data-lang="home">
                Главная
            </a>
        </li>
        <li>
            <a href="listings.html" data-lang="listings">
                Объявления
            </a>
        </li>
        <li>
            <a href="about.html" data-lang="about">
                О нас
            </a>
        </li>
        <li>
            <a href="profile.html" data-lang="profile">
                Профиль
            </a>
        </li>
        <li>
            <a href="login.html" data-lang="login">
                Войти
            </a>
        </li>
    </ul>
    <select id="languageSwitcher">

        <option value="ru">RU</option>
        <option value="en">EN</option>
        <option value="ua">UA</option>
        <option value="he">HE</option>
    </select>
</nav>